{%- if section.settings.collection_show_description -%}
  <div class="bottom-description">
    {%- if section.settings.columns_main_title != blank -%}
      <h1 class="bottom-description__title">{{ section.settings.columns_main_title }}</h1>
    {%- endif -%}
    <div class="bottom-description__seo-text">
      {%- if section.settings.column_one != blank -%}
        <div class="cols col-one">{{ section.settings.column_one }}</div>
      {%- endif -%}
      {%- if section.settings.column_two != blank -%}
        <div class="cols col-one">{{ section.settings.column_two }}</div>
      {%- endif -%}
    </div>
  </div>
{%- else -%}
  {%- unless collection.description == blank -%}
    <div class="box">
      <div class="wrapper">
        <p class="collection-description text-lead">
          {{ collection.description }}
        </p>
      </div>
    </div>
  {%- endunless -%}
{%- endif -%}



{% schema %}
  {
    "name": "Collection Description",
    "class": "collection-description",
    "settings": [
      {
        "type": "header",
        "content": "Columns"
      },
      {
        "type": "checkbox",
        "id": "collection_show_description",
        "label": "show bottom custom description",
        "default": false
      },
      {
        "type": "text",
        "id": "columns_main_title",
        "label": "Add main title to the columns"
      },
      {
        "type": "richtext",
        "id": "column_one",
        "label": "<p>Column one</p>"
      }, {
        "type": "richtext",
        "id": "column_two",
        "label": "<p>Column two</p>"
      }
    ],
    "presets": [
      {
        "name": "Collection Description",
        "category": "text"
      }
    ]
  }
{% endschema %}